#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

#reviewer_name {
  border-bottom: 2px solid black;
  padding-bottom: 8px;
}

#review {
  background-color: #151515;
  padding-top: 1px;
  padding-bottom: 8px;
}

#review_text {
  background-color: #131313;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  padding: 8px;
}

#like_icon {
  margin-left: 8px;
  filter: invert(1);
}

#like_button {
  display: flex;
  margin: auto;
}